
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>
    <h1>REGISTER HERE</h1>
    <br></center>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="mb-3">
  <label class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter the Username">
</div>
    <div class="mb-3">
  <label class="form-label">Password</label>
  <input type="password" class="form-control" name="p" placeholder="Enter the password">
</div>
    <div class="mb-3">
  <label class="form-label">Confirm Password</label>
  <input type="password" class="form-control" name="cp" placeholder="Enter the password">
</div>



<!--     <div class="mb-3">-->
<!--  <label class="form-label">phone</label>-->
<!--  <input type="number" class="form-control" name="n" placeholder="Enter the phone">-->
<!--</div>-->
<!--     <div class="mb-3">-->
<!--  <label class="form-label">address</label>-->
<!--  <input type="email" class="form-control" name="e" placeholder="Enter the email">-->
<!--</div>-->

    <div class="mb-3">
  <input type="submit" class="form-control">
</div>
</form>



{% if messages %}
{% for i in messages %}
<ul>
    <li>{{i}}</li>
</ul>
{% endfor %}
{% endif %}
{% endblock %}